{% extends "CECoreBundle::layout.html.twig" %}

        {% block body %}
<div class="alert alert-danger" role="alert">
    <h4>
        <span class="glyphicon  glyphicon-exclamation-sign "></span>
        Page introuvable
    </h4>
</div>
<div class="table-responsive panel panel-default">
    <div class="panel-body">

        La page que vous avez demandé n'existe pas.
    </div>


</div>
        {% endblock body %}

