.idea/
ce.iml
app/cache/
app/logs/
Would skip repository vendor/friendsofsymfony/user-bundle
vendor/autoload.php
vendor/composer
vendor/doctrine
vendor/incenteev
vendor/ircmaxell
vendor/jdorn
vendor/kriswallsmith
vendor/monolog
vendor/paragonie
vendor/psr
vendor/sensio
vendor/sensiolabs
vendor/swiftmailer
vendor/symfony
vendor/twig
vendor/friendsofsymfony
app/bootstrap.php.cache
web/bundles/cecore/
web/bundles/cereservation/
web/bundles/ceuser/
web/css/42ae233.css
web/js/5d2d267.js
web/js/9fd9289.js
web/js/fb60e99.js
