{% block javascripttop %}
        {% javascripts '@CEUserBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock javascripttop %}
{% extends "CECoreBundle::layout.html.twig" %}

        {% block body %}
<div class="hidden">
    {{ form(delete_form, {'attr': {'id': 'delete_form', 'class': 'hidden'}}) }}
</div>


        {{ include("CEUserBundle:Profile:show_content.html.twig", { 'profile': false }) }}
        {% endblock %}