{% extends "CECoreBundle::layout.html.twig" %}

{% block body %}

    <div class="table-responsive panel panel-default">
        <div class="panel-heading">Enregistrer un matériel</div>

        {{ form(form) }}

    </div>
{% endblock body %}
