.container-full {
    margin: 0 auto;
    width: 100%;
}

/* Mise en forme du formulaire de login */
#login_form{
    padding: 15px;
    text-align: left;
    min-width: 200px;
}
#login_form input{
    width: 100%;
    margin-bottom: 7px;
}
#login_form label {
    width: 100%;
}
#login_form span input{
    width: 10%;
}
#login_form span label {
    font-weight: normal;
    display: inline;
}
#login_form a {
    float: right;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 5px;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.form-control[readonly]{
    background-color: #ffffff;
}