
/* Mise en forme des formulaires */
form {
    width: 70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
form header {
    margin: 0 0 20px 0;
}
form header div {
    font-size: 90%;
    color: #999;
}
form header h2 {
    margin: 0 0 5px 0;
}
form div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form div fieldset div div {
    margin: 0 0 5px 0;
}
form div  label,
legend {
    width: 25%;
    float: left;
    padding-right: 10px;
}
form  div div,
form  div fieldset div {
    width: 75%;
    float: right;
}
form div fieldset label {
    font-size: 90%;
}
fieldset {
    border: 0;
    padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
    width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border-color: #4697e4;
}
input[type=submit]{
    float: right;
}
@media (max-width: 600px) {
    form div {
        margin: 0 0 15px 0;
    }
    form div label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form div div,
    form div fieldset div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    form div label,
    legend {
        text-align: right;
    }
}


/* Mise en forme du formulaire de login */
#login_form{
    padding: 15px;
    text-align: left;
    min-width: 200px;
}
#login_form input{
    width: 100%;
    margin-bottom: 7px;
}
#login_form label {
    width: 100%;
}
#login_form span input{
    width: 10%;
}
#login_form span label {
    font-weight: normal;
    display: inline;
}
#login_form a {
    float: right;
}
