{% extends "CECoreBundle::layout.html.twig" %}

{% block body %}
<div class="table-responsive panel panel-default">
    <div class="container-fluid panel-heading">
        <h4>Demande de réinitialisation de mot de passe</h4>
    </div>
    <div class="panel-body">
        {% include "CEUserBundle:Resetting:request_content.html.twig" %}
    </div>


</div>
{% endblock body %}
