{% extends "CECoreBundle::layout.html.twig" %}

{% block fos_user_content %}
{% block body %}
<div class="table-responsive panel panel-default">
    <div class="panel-heading">Liste des marques</div>
    <table class="table">
        <thead>
        <tr>
            <th class="col-xs-2 col-md-1">Nom</th>
            <th class="col-xs-2 col-md-1">
                {%  if is_granted('ROLE_CRUD_DEVICE') %}
                    <a class="btn btn-success" href="{{ path('brand_new') }}">+ Ajouter</a>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>

        {% for entity in entities %}
            <tr onMouseOver="this.className='bg-info'" onMouseOut="this.className=''">
                <td>{{ entity.libelle }}</td>
                <td>
                    <a href="{{ path('brand_show', { 'id': entity.id }) }}" class="glyphicon glyphicon-user"></a>
                    {%  if is_granted('ROLE_CRUD_DEVICE') %}
                        <a href="{{ path('brand_edit', { 'id': entity.id }) }}" class="glyphicon glyphicon-edit"></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
    {% endblock fos_user_content %}