{% extends "CECoreBundle::layout.html.twig" %}

<div class="table-responsive panel panel-default">
    <div class="container-fluid panel-heading">
        <div class="pull-left ">
            <h4>Bienvenue</h4>
        </div>
    </div>
    <div class="panel-body">
        Bienvenue sur le site.
    </div>


</div>
