.col-md-1, .col-md-2,
.col-xs-4, .col-xs-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.list {
    padding: 15px;
}

kbd {
    font-size: smaller;
    margin: 1px;
    display: inline-block;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.thumbnail {
    margin: 0;
}